<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}} - Ferretería Victornillo</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <style>
    .toast {
      position: fixed !important;
      top: 70px !important;
      left: 20px !important;
      margin: 0 !important;
    }
  </style>
  </head>
  <body>
    {{> navbar}}
    <div class="container">
      {{{body}}}
    </div>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"
    ></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        let elems = document.querySelectorAll('.sidenav');
        M.Sidenav.init(elems);
      });
    </script>
    <script>
      const userCartId = "{{currentUser.cartId}}";
    </script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/main.js"></script>
    <script>
  document.addEventListener('DOMContentLoaded', () => {
    const cartLinks = document.querySelectorAll('a[href="/cart"]');
    if (userCartId) {
      cartLinks.forEach(link => link.href = `/cart/${userCartId}`);
    } else {
      const cartData = localStorage.getItem("cart");
      if (cartData) {
        const cartObj = JSON.parse(cartData);
        cartLinks.forEach(link => link.href = `/cart/${cartObj._id}`);
      }
    }
  });
</script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
  </body>
</html>